<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <span class="navbar-brand">Inmobiliaria CVH</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/listado']">Buscador</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/nuevo']">Nuevo inmueble</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/resumen']">Resumen</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container pt-1">
  <router-outlet></router-outlet>
</div>